@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
       url("../fonts/ptsans-400.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
       url("../fonts/ptsans-700.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-main {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

/*Стили для заголовка h1*/
.page-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

/*Стили для заголовков h2*/
.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

/*Стили для заголовков h3*/
.block-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

/*Стили для подзаголовков секций*/
.section-subtitle {
  margin-top: 0px;
  font-size: 22px;
  line-height: 26px;
}

/*Общие стили для кнопок сайта*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: min-content;
  margin: 0;
  padding: 8px 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  word-break: break-word;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/*Обнуление отступов у списков*/
.list-normalize {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*HEADER*/

.page-header {
  z-index: 1;
}

.page-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 70px;
}

.logo {
  max-height: 64px;
  margin-right: 30px;
}

.logo-img {
  display: block;
}

.menu {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.menu-link {
  display: block;
  padding: 20px 16px;
  color: inherit;
  text-decoration: none;
}

.menu-link.current {

}

.custom-menu {
  display: flex;
  align-items: center;
}

.action-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 12px;
}

.page-search {
  background: url("../images/search-icon.svg") no-repeat center;
}

.favorites {
  position: relative;
  background: url("../images/heart-icon.svg") no-repeat center;
  text-decoration: none;
}

.favorites-number {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #7db54f;
}

.desire-btn {
  margin-left: 20px;
}

/*HERO*/

.hero {
  margin-bottom: 69px;
  padding: 51px 0 82px 0;
  background: url("../images/hero-background-mask.svg") no-repeat center bottom -0.4px,
              #4885b7 url("../images/hero-background.jpg") no-repeat center top / contain;
}

.hero-head-img {
  display: block;
  margin: 0 auto;
}

/*ADVANTAGES*/

.advantages {
  margin-bottom: 64px;
}

.advantages-title {
  width: 623px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.advantages-subtitle {
  margin-bottom: 90px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item,
.advantages-item-wrap{
  width: 400px;
  padding: 100px 85px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-darker-bg {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-image-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 1/-1;
  width: auto;
  padding: 0;
  color: #ffffff;
  background-color: #82b3d3;
  grid-template-areas:
    "description image";
}

.advantages-image-item.image-left {
  grid-template-areas:
    "image description";
}

.advantages-item-wrap {
  grid-area: description;
}

.advantages-item-title {
  margin-bottom: 62px;
}

.advantages-image-item .advantages-item-title {
  color: #ffffff;
}

.advantages-item-text {
  margin: 0;
}

.advantages-item-img {
  display: block;
  grid-area: image;
}

/*OFFER*/

.offer {
  margin-bottom: 96px;
}

.offer-title {
  width: 505px;
  margin-left: auto;
  margin-right: auto;
}

.offer-subtitle {
  margin-bottom: 64px;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
}

.offer-item {
  width: 400px;
  padding: 183px 85px 81px 85px;
  background-repeat: no-repeat;
  background-position: center 81px;
}

.offer-item-house {
  background-image: url("../images/offer-house-icon.svg");
}

.offer-item-food {
  background-image: url("../images/offer-food-icon.svg");
}

.offer-item-present {
  background-image: url("../images/offer-box-icon.svg");
}

.offer-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.offer-item-title {
  margin-bottom: 30px;
}

.offer-item-description {
  margin: 0;
}

/*BOOKING*/

.booking {
  margin-bottom: 96px;
}

.booking-subtitle {
  margin-bottom: 54px;
}

.booking-btn {
  width: 376px;
  height: 52px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

/*SUBSCRIPTION*/

.subscription {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.subscription-background {
  color: #ffffff;
  background-color:#4885b7;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
}

.subscription-background .subscription-title {
  color: #ffffff;
}

.subscription-subtitle {
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-form-input {
  width: 452px;
  height: 52px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  border: none;
}

.subscription-form input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscription-form-btn {
  width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  background-color: #82b3d3;
}

/*FOOTER*/

.page-footer {
  display: grid;
  grid-template-columns:auto 1fr auto;
  align-items: center;
  justify-items: center;
  padding: 40px 70px;
  color: #000000;
}

.social-list {
  display: flex;
}

.social-item-link {
  display: block;
  width: 47px;
  height: 40px;
}

.tel {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.htmlacademy-logo {
  display: block;
  width: 115px;
  height: 33px;
}

/*INTRO*/

.intro {
  margin-bottom: 50px;
  padding: 35px 70px 70px 70px;
  color: #ffffff;
  background-color: #4885b7;
  background-image: url("../images/catalog-intro-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-size: 16px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-index {
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/breadcrumbs-home-icon.svg") no-repeat center;
}

.catalog-filter {
  display: flex;
  column-gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group.align-right {
  margin: 0 0 0 auto;
}

.catalog-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-field-wrap {
  margin-top: 0;
  margin-bottom: 16px;
}

.filter-field-wrap:last-child {
  margin: 0;
}

.catalog-filter-label {
  line-height: 23px;
}

.filter-btn-wrap {
  align-self: flex-end;
}

.catalog-filter-btn {
  width: 191px;
  background-color: #82b3d3;
}

.catalog-filter-btn:not(:last-child) {
  margin-bottom: 32px;
}

.catalog-filter-btn-transparent {
  background-color: transparent;
}

/*CATALOG*/

.catalog {
  margin-bottom: 60px;
  padding: 0 70px;
}

.catalog-sorting {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  margin-bottom: 40px;
}

.search-result {
  margin: 0;
  padding-right: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-order {
  width: 292px;
  margin-right: 70px;
  padding: 10px 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.sorting-view-buttons {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  column-gap: 8px;
}

.sorting-view-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-view-button-tile {
  background: url("../images/tile-mode.svg") no-repeat center;
}

.sorting-view-button-card {
  background: url("../images/card-mode.svg") no-repeat center;
}

.sorting-view-button-list {
  background: url("../images/list-mode.svg") no-repeat center;
}

.sorting-view-button.active {
  border-color: #000000;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  margin-bottom: 80px;
}

.catalog-card {
  max-width: 340px;
  padding: 20px 19px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.catalog-card-link {
  text-decoration: none;
}

.catalog-card-img {
  display: block;
  margin-bottom: 16px;
}

.catalog-card-title {
  text-transform: none;
  margin-bottom: 16px;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  max-width: 300px;
}

.catalog-card-price {
  justify-self: end;
}

.catalog-card-btn {
  width: 140px;
}

.catalog-card-add-favorites {
  background-color: #82b3d3;
}

.catalog-card-in-favorites {
  background-color: #7db54f;
}

.catalog-card-stars {
  display: block;
  width: 140px;
  height: 37px;
  background-repeat: no-repeat;
}

.one-stars {
  background-image: url("../images/stars-one.svg");
}

.two-stars {
  background-image: url("../images/stars-two.svg");
}

.three-stars {
  background-image: url("../images/stars-three.svg");
}

.four-stars {
  background-image: url("../images/stars-four.svg");
}

.five-stars {
  background-image: url("../images/stars-five.svg");
}

.catalog-card-rating {
  display: flex;
  justify-content: center;
  width: 140px;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #f2f2f2;
}

.pagination {
  display: flex;
  column-gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  background: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
}

.pagination-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

